/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ------------------------- General Styles --------------------------------- */

/*
COLOR PALETTE
link to the color source
#fff - white
#e8e8e8 - light grey
#5c93ce - light blue
#303030 - dark grey
#000 - black
converter: https://www.rapidtables.com/convert/color/hex-to-rgb.html
*/

html {
  font-size: 16px;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1em;
  font-weight: bold;
}

ul,
ol {
  list-style-type: none;
  font-weight: bold;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 2.25em;
  font-weight: 500;
  margin: 0;
}

h2,
h3,
h4 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 1.875em;
  font-weight: 500;
}

h6 {
  color: #5c93ce;
  font-size: 0.75em;
  font-weight: 700;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

p {
  color: #fff;
  font-size: 1em;
  line-height: 1.285;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

.content-wrapper {
  width: 90%;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  width: 100%;
}

/* ------------------------- Header Section ------------------------------- */

header {
  background: #e8e8e8;
}

header .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  background: #e8e8e8;
  padding: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #e8e8e8;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  color: #000;
  font-size: 2em;
}

.logo a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

.logo i {
  color: #000;
  padding: 20px;
}

.logo h6 {
  color: #000;
  font-family: "Mulish" sans-serif;
  font-size: 0.4em;
  margin: 0;
  text-transform: uppercase;
  width: 50%;
}

.logo i:hover,
.logo h6:hover {
  color: #5c93ce;
  cursor: pointer;
  transition: 0.5s;
}

.nav-list {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 70px;
  background: #000;
  float: right;
  padding: 0;
  margin: 0;
  text-align: center;
  transition: all 0.5s;
}

.nav-list li {
  opacity: 0;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
}

.nav-list li a {
  color: #fff;
  font-size: 1.125em;
  text-transform: uppercase;
}

.nav-list li a.active,
.nav-list li a:hover {
  color: #5c93ce;
  transition: 0.5s;
}

.hamburger-btn {
  display: flex;
  justify-content: flex-end;
  color: #000;
  font-size: 2em;
  cursor: pointer;
  margin: 0;
}

.hamburger-btn i {
  padding: 20px;
  transition: opacity 1s ease-in;
}

.hamburger-btn i:hover {
  opacity: 0.7;
}

#check {
  display: none;
}

#check:checked ~ .nav-list {
  height: 100vh;
}

#check:checked ~ .nav-list li {
  opacity: 1;
}

/* ------------------------- Main Section --------------------------------- */

.hero-area {
  background: url(../img/hero.jpg) center no-repeat #c8c8c8;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-bottom: 50px;
  min-height: 500px;
  width: 100%;
}

.hero-area h1 {
  color: #5c93ce;
  font-size: 3em;
  font-weight: bold;
  padding: 30px 0 0 20px;
}

.hero-area p {
  color: #000;
  font-size: 2em;
  padding: 0 20px;
  margin: 0;
}

.hero-button {
  background-color: #000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.25em;
  padding: 10px 30px;
  margin: 25px;
  text-transform: uppercase;
}

.hero-button :hover {
  color: #5c93ce;
  cursor: pointer;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

/*
.social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: 5px;
  height: 40px;
  width: 40px;
}
*/

.social-icons p i {
  color: #fff;
  font-size: 1em;
}

.social-icons i:hover {
  color: #5c93ce;
  cursor: pointer;
}

/* ------------------------- Testimonials Section --------------------------- */

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #606060;
  padding: 50px 0;
}

.testimonials .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.testimonial-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border: 1px solid #344a5f;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin: 25px;
  width: 100%;
}

.testimonial-item p {
  text-align: center;
}

/* ------------------------- Services Section ------------------------------ */

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #b0b0b0;
  padding: 50px 0;
}

.services h6 {
  margin-top: 50px;
}

.services h2 {
  margin-top: 0;
  text-align: center;
}

.services .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.services-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.services i {
  font-size: 3.75em;
  margin-bottom: 20px;
  padding-top: 20px;
}

.services-item-description {
  color: #fff;
  padding: 20px 60px;
  text-align: center;
}

/* ------------------------- About Section --------------------------------- */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #808080;
  padding: 50px 0;
}

.about .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.about-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-bottom: 50px;
  padding-top: 30px;
  width: 100%;
}

.about-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 30px;
  width: 100%;
}

.about-description p {
  color: #fff;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

.about-description h2 {
  margin-top: 0;
}

.about figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  width: 100%;
}

.about img {
  border: 5px solid #fff;
  margin: 20px 30px;
}

/* ------------------------- Portfolio Section ------------------------------ */

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #000;
  padding: 50px 0;
}

.portfolio h6 {
  margin-top: 50px;
}

.portfolio h2 {
  margin-top: 0;
}

.portfolio .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.portfolio img {
  border: 1px solid #fff;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* ------------------------- Contact Section --------------------------------- */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #303030;
  padding: 50px 0;
  overflow: hidden;
}

.contact .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.contact-description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  padding: 50px;
  width: 100%;
}

.contact-description h6 {
  text-align: left;
}

.contact-description p {
  line-height: 1.5;
}

.services-button {
  background-color: #000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.25em;
  padding: 10px 30px;
  margin: 25px 0;
  text-transform: uppercase;
}

.services-button :hover {
  color: #5c93ce;
  cursor: pointer;
}

.contact-button {
  background-color: #000;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.25em;
  padding: 10px 30px;
  margin: 0;
  text-transform: uppercase;
}

.contact-button :hover {
  color: #5c93ce;
  cursor: pointer;
}

/* ------------------------- Footer Section --------------------------------- */

footer {
  background: #000;
  padding-top: 50px;
}

footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
}

.footer-logo,
.footer-logo h4 {
  color: #5c93ce;
}

.footer-services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  line-height: 1.5;
  width: 100%;
}

.footer-services-list h4 {
  width: 100%;
}

.footer-services-list ul {
  color: #fff;
  padding: 0;
  width: 100%;
}

.footer-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  line-height: 1.5;
  width: 100%;
}

.footer-nav-list h4 {
  width: 100%;
}

.footer-nav-list ul {
  padding: 0;
  width: 100%;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.footer-contact h4 {
  width: 100%;
}

.footer-contact p {
  width: 100%;
}

.footer-contact i {
  color: #5c93ce;
  padding-right: 12px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 30px;
  width: 100%;
}

.footer-social i {
  color: #5c93ce;
  font-size: 1.5em;
  padding-right: 20px;
}

.copyright {
  overflow: hidden;
  width: 100%;
}

.copyright p {
  color: #fff;
  padding: 50px 0;
  margin: 20px 0;
  text-align: center;
  width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Tablet Styles Here */

  /* ------------------------- Header Section ------------------------------- */

  /* ------------------------- Main Section --------------------------------- */

  .hero-area {
    align-items: center;
  }

  /* ------------------------- Testimonials Section -------------------------- */

  .testimonial-item {
    padding: 0 30px;
    width: 30%;
  }

  /* ------------------------- Services Section ------------------------------ */

  .services-item {
    padding: 0;
    margin: 0;
    width: 50%;
  }

  /* ------------------------- About Section --------------------------------- */

  .about-description {
    padding: 0 50px;
    text-align: center;
  }

  .about-description h2,
  .about-description h6 {
    text-align: center;
  }

  .about-description p {
    font-size: 1.2em;
    line-height: 1.5;
  }

  /* ------------------------- Portfolio Section ------------------------------ */

  .portfolio-image {
    width: 50%;
  }

  /* ------------------------- Contact Section ------------------------------- */

  .services-button {
    margin-right: 20px;
  }

  /* ------------------------- Footer Section --------------------------------- */

  footer {
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  /* Desktop Styles Here */

  /* ------------------------- Header Section ------------------------------- */

  .logo {
    width: 50%;
  }

  .logo h6 {
    font-size: 0.5em;
  }

  /* ------------------------- Main Section --------------------------------- */

  .hero-area h1 {
    width: 50%;
  }

  .social-icons {
    width: 30%;
  }

  /* ------------------------- Testimonials Section -------------------------- */

  .testimonial-item {
    margin: 10px;
    width: 25%;
  }

  /* ------------------------- Services Section ------------------------------ */

  .services article {
    width: 25%;
  }

  .services p {
    font-size: 1.125em;
  }

  /* ------------------------- About Section --------------------------------- */

  .about-content {
    margin: 50px 0;
  }

  .about-item {
    padding-bottom: 0;
    padding-top: 0;
    width: 50%;
  }

  .about img {
    margin-bottom: 0;
    margin-top: 0;
  }

  .about-description {
    text-align: left;
    padding: 0;
    margin: 0;
    width: 50%;
  }

  .about-description p {
    font-size: 1.3em;
    margin-right: 30px;
  }

  /* ------------------------- Portfolio Section ------------------------------ */

  .portfolio-image {
    width: 20%;
  }

  /* ------------------------- Contact Section ------------------------------- */

  .contact {
    padding: 0;
  }

  .contact .content-wrapper {
    width: 100%;
  }

  .contact-image {
    background: url(../img/contact.jpg) center no-repeat #c8c8c8;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    min-height: 500px;
    padding: 0;
    margin: 0;
    width: 50%;
  }

  .contact-description {
    box-sizing: border-box;
    padding: 50px;
    margin: 0;
    width: 50%;
  }

  .contact-description p {
    margin-right: 200px;
  }

  /* ------------------------- Footer Section --------------------------------- */

  footer {
    text-align: left;
  }

  .footer-logo,
  .footer-services-list,
  .footer-nav-list,
  .footer-contact {
    width: 25%;
  }
}

.footer-nav-list {
  margin-top: -25px;
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
